{% extends 'base.html' %}
{% block body_class %}project-page{% endblock %}
{% block content %}
{% load static static_versioned %}
<link rel="stylesheet" type="text/css" href="{% static_v 'css/common/style.css' %}">
<div class="project_detail_page">
    <a
        class="project-detail-back-btn"
        href="{% if portfolio_owner_username %}{% url 'main:portfolio_user_lang' ui_lang=ui_lang user_id=portfolio_owner_username %}{% else %}{% url 'main:main_lang' ui_lang=ui_lang %}{% endif %}"
        aria-label="{% if ui_lang == 'en' %}Back to portfolio{% else %}포트폴리오로 돌아가기{% endif %}"
        title="{% if ui_lang == 'en' %}Back to portfolio{% else %}포트폴리오로 돌아가기{% endif %}"
    >
        <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M19 12H5"></path>
            <path d="M12 19l-7-7 7-7"></path>
        </svg>
    </a>
    <div class="project_detail">
        <h1 class="project_detail_title">{{ project.display_title }}</h1>
        <ul class="tags">
            {% for tag in project.tags.all %}
            <li class="tag">{{ tag.tag }}</li>
            {% endfor %}
        </ul>
        <hr>
        <div class="project_detail_content">
            {{ project.content }}
        </div>
    </div>
    <!--
    <h5>댓글 {{ project.project_comment_set.count }}</h5>
    <div>
        <ul>
        {% for project_comment in project.project_comment_set.all %}
            <li>{{ project_comment.content }}</li>
        {% endfor %}
        </ul>
    </div>
    <form action="{% url 'main:ProjectComment_create' project.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="1"></textarea>
        <input type="submit" value="댓글등록">
    </form>
    -->
</div>
{% endblock %}
