<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.hanplanet.dovecot</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/dovecot/sbin/dovecot</string>
    <string>-F</string>
    <string>-c</string>
    <string>/opt/homebrew/etc/dovecot/dovecot.conf</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/imhanbyeol/Development/Hanplanet</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>StandardOutPath</key><string>/Users/imhanbyeol/Development/Hanplanet/log/hpmail-dovecot.stdout.log</string>
  <key>StandardErrorPath</key><string>/Users/imhanbyeol/Development/Hanplanet/log/hpmail-dovecot.stderr.log</string>
</dict>
</plist>
