{% load static_versioned %}
<link rel="preconnect" href="https://www.gstatic.com">
<link rel="stylesheet" href="{% static_v 'vendor/videojs/video-js.min.css' %}">
<link rel="stylesheet" href="{% static_v 'vendor/videojs/videojs-seek-buttons.min.css' %}">
<link rel="stylesheet" href="{% static_v 'vendor/videojs/silvermine-videojs-chromecast.min.css' %}">
<link rel="stylesheet" href="{% static_v 'vendor/videojs/videojs-mobile-ui.css' %}">
<link rel="stylesheet" href="{% static_v 'vendor/videojs/videojs-hls-quality-selector.css' %}">
<link rel="stylesheet" href="{% static_v 'vendor/handsontable/handsontable.full.min.css' %}">
<link rel="stylesheet" href="{% static_v 'css/pages/handrive/style.css' %}" type="text/css">
