{% extends 'base.html' %}
{% block body_class %}handrive-page{% endblock %}
{% block content %}
{% include 'handrive/_assets_head.html' %}

<div class="auth-toolbar-wrap ui-toolbar-wrap">
    <div class="ui-shell ui-toolbar">
        <div class="auth-toolbar-left ui-toolbar-left">
            <h1 class="ui-title">{{ handrive_text.auth_register_email_title }}</h1>
        </div>
    </div>
</div>

<main class="ui-shell ui-content">
    {% include "partials/site_auth_register_email_form.html" %}
</main>
{% include "partials/site_footer_links.html" %}
{% endblock %}
