<div id="handrive-context-menu" class="handrive-context-menu site-dropdown-menu" hidden>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="open">{{ handrive_text.menu_open }}</button>
        <button type="button" data-action="download">{{ handrive_text.menu_download }}</button>
        <button type="button" data-action="extract-archive">{{ handrive_text.menu_extract_archive }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="google-drive-add-items">{{ handrive_text.menu_google_drive_add_items }}</button>
        <button type="button" data-action="upload">{{ handrive_text.menu_upload }}</button>
        <button type="button" data-action="create-archive">{{ handrive_text.menu_create_archive }}</button>
        <button type="button" data-action="new-folder">{{ handrive_text.menu_new_folder }}</button>
        <button type="button" data-action="new-doc">{{ handrive_text.menu_new_document }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="create-map">{{ handrive_text.menu_create_map }}</button>
        <button type="button" data-action="convert-mp3">{{ handrive_text.menu_convert_mp3 }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="git-create-repo">{{ handrive_text.menu_create_repo }}</button>
        <button type="button" data-action="git-manage-repo">{{ handrive_text.menu_manage_repo }}</button>
        <button type="button" data-action="git-delete-repo">{{ handrive_text.menu_delete_repo }}</button>
        <button type="button" data-action="git-create-branch">{{ handrive_text.menu_git_create_branch }}</button>
        <button type="button" data-action="git-delete-branch">{{ handrive_text.menu_git_delete_branch }}</button>
    </div>
    <div class="handrive-context-menu-group" data-menu-group>
        <button type="button" data-action="share">{{ handrive_text.url_share_button }}</button>
        <button type="button" data-action="edit">{{ handrive_text.menu_edit }}</button>
        <button type="button" data-action="change-icon">{{ handrive_text.menu_change_icon }}</button>
        <button type="button" data-action="rename">{{ handrive_text.menu_rename }}</button>
        <button type="button" data-action="delete">{{ handrive_text.menu_delete }}</button>
    </div>
</div>
